{{!-- login --}}
<div id="login"class="row justify-space-between-md text-center col-12">
  <div class="login-card col-12 py-3">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <input class="form-input my-1" type="text" id="email-login" placeholder="email"/>
      </div>
      <div class="form-group">
        <input class="form-input my-1" type="password" id="password-login" placeholder="password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
        <br>
        Don't have an account? <a id="#link-signup" href="#signup">Sign Up</a> Instead
      </div>
    </form>
  </div>

  <div id="signup"class="login-card col-12">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <input class="form-input my-1" type="text" id="username-signup" placeholder="username"/>
      </div>
      <div class="form-group">
        <input class="form-input my-1" type="text" id="email-signup" placeholder="email"/>
      </div>
      <div class="form-group">
        <input class="form-input my-1" type="password" id="password-signup" placeholder="password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>